<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
    <h1>Manage Your Jobs</h1>
    <% @myjobs.each do |myjob| %>
    <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-0 col-lg-12 col-lg-offset-0">
        <h3><%= myjob.job.title %><small>(Job ID# <%= current_user.id %>-<%= myjob.id %>-<%= myjob.job_id %>001)</small></h3>
        <p>Description: <%= myjob.job.try(:description) %></p>
        <p>Point Value: <font color="darkblue"><%= myjob.job.try(:value) %></font></p>
    </div>

    <%= render 'form', myjob: @myjob %>

    <div class="col-md-8 col-md-offset-0">
        <%= link_to "Edit", edit_myjob_path(myjob) %>
        <%= link_to "Back", root_path %>
    </div>
    <div class="col-md-8 col-md-offset-0">
        <%= link_to "Delete This Job", myjob, method: :delete, class: "btn btn-danger", data: { confirm: "Wait! Are you sure you want to delete this job?"} %>
    </div>

    <% end %>
</div>
